@model EmployeeManagement.Models.UpdateEmployeeViewModel;


<h1>Edit Employee</h1>
<form method="post" action="Edit">
    <div class="mb-3">
        <label asp-for="Id" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id">
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email">
    </div>

    <div class="mb-3">
        <label asp-for="salary" class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="salary">
    </div>

    <div class="mb-3">
        <label asp-for="DateOfBirth" class="form-label">DateOFBirth</label>
        <input type="datetime" class="form-control" asp-for="DateOfBirth">
    </div>

    <div class="mb-3">
        <label asp-for="Department" class="form-label">Department</label>
        <input type="text" class="form-control" asp-for="Department">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Employee">Delete</button>
</form>
